.container{
  margin: 0 auto;
  width: 1170px;
}
* {
  box-sizing: border-box;;
}
ul{
  list-style: none;
  padding: 0;
}
h2{
  font-size: 1.2em;
}
h3{
  font-size: 1em;
}
.hidden{
  display: none !important;
}
:root{
  --base-color: #333;
}
.main{
  position: relative;
  padding-bottom: 100px;
}
.btn{
  width: 185px;
  height: 40px;
  font-size: 1.1em;
  border: 1px solid var(--base-color);
  border-radius: 5px;
  cursor: pointer;
}
.btn:disabled{
  cursor: not-allowed;
}
.pagination-list{
  display: flex;
  justify-content: center;
}
.pagination-item{
  width: 30px;
  height: 30px;
  margin: 0 3px;
}
.pagination-link{
  display: inline;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  border:none;
  background-color: #fff;
  cursor: pointer;
}
.pagination-link:hover,.btn:hover{
  background-color: #eee;
}
.pagination-dots{
  width: 40px;
  text-align: center;
  line-height: 30px;
}
.current-page{
  background-color: #ddd;
}
.pagination-item{
  border: 1px solid #9cbce8;
  border-radius: 10px;
}

.preloader {
  margin: 30vh auto 0;
  width: 300px;
  height: 40px;
  border: 1px solid var(--base-color);
  border-radius: 5px;
}
.preloader__progress{
  width: 0;
  height: 100%;
  background-color: var(--base-color);
}

.table{
  width: 100%;
  font-size: 1.05em;
  border-collapse: collapse;
}

.table th,.table td{
  padding: 5px;
  border: 1px solid var(--base-color);
}
.table tbody tr:hover, .table th:hover{
  background-color: #eee;
  cursor: pointer;
}
.selected, .selected:hover{
  background-color: #ddd;
}
.table thead, .table tbody { display: block; }
.table tbody{
  height: 60vh;
  overflow-y: auto;
}
.table td, .table th {width: 20%;}